- page_title "#{@runner.description} ##{@runner.id}", "Runners"

%h3.page-title
  Runner ##{@runner.id}
  .float-right
    - if @runner.shared?
      %span.runner-state.runner-state-shared
        Shared
    - elsif @runner.group_type?
      %span.runner-state.runner-state-shared
        Group
    - else
      %span.runner-state.runner-state-specific
        Specific

.table-holder
  %table.table
    %thead
      %tr
        %th Property Name
        %th Value
    %tr
      %td Active
      %td= @runner.active? ? 'Yes' : 'No'
    %tr
      %td Protected
      %td= @runner.active? ? _('Yes') : _('No')
    %tr
      %td Can run untagged jobs
      %td= @runner.run_untagged? ? 'Yes' : 'No'
    - unless @runner.group_type?
      %tr
        %td Locked to this project
        %td= @runner.locked? ? 'Yes' : 'No'
    %tr
      %td Tags
      %td
        - @runner.tag_list.sort.each do |tag|
          %span.badge.badge-primary
            = tag
    %tr
      %td Name
      %td= @runner.name
    %tr
      %td Version
      %td= @runner.version
    %tr
      %td IP Address
      %td= @runner.ip_address
    %tr
      %td Revision
      %td= @runner.revision
    %tr
      %td Platform
      %td= @runner.platform
    %tr
      %td Architecture
      %td= @runner.architecture
    %tr
      %td Description
      %td= @runner.description
    %tr
      %td Maximum job timeout
      %td= @runner.maximum_timeout_human_readable
    %tr
      %td Last contact
      %td
        - if @runner.contacted_at
          = time_ago_with_tooltip @runner.contacted_at
        - else
          Never
